.div1{
    text-align: center;
    
}
.header1{
    margin-top: 100px;
    font-size: xx-large;
    color: #562349;
}
.ionBt{
    margin-top: 50px;
    //color: #512b58;
}
.ionTitle{
    text-align: center;
    color: #fcf8f3;;
}